<main>
  <div class="container">
    <h2 style="text-align: center">Referrals And Commission</h2>
    <div class="flex center">
      <img src="/assets/images/affi.png" width="127" height="122" style="margin-right: 40px" alt="Affiliate">
      <p style="width: 690px">You can earn more hashpower with SierraHash by refering your friends and family to us, we offer up to 10% of your referrals
        hashpower, free of charge.</p>
    </div>
    <div class="aff">
      <h3 style="text-align: center; margin: 80px 0 50px">Get more profit through referral comission</h3>
      <p style="width: 690px; margin: 0 auto">At SierraHash we want you to make as much profit as possible, this is why we offer a unique referral comission scheme,
        where you will make a percentage of your referrals profit, free of charge and they don't loose any profit!</p>
      <h4
        style="text-align: center; margin: 80px 0 50px">Level 7% + 2% + 1%</h4>
        <p style="width: 690px; margin: 0 auto">What do we mean by 7% + 2% + 1%? By 7% + 2% + 1% we are on about our refferal comission rates, with 7 % being the
          people who you have referred directly, 2% being the people referred by your refferals and 1% coming from the people
          who give you 2%, so the more refferals that happen from you and your friends the more you all earn, it's a never
          ending gain!</p>
    </div>
  </div>
</main>