<div class="card card-container">
    <form class="form-group" #lgForm="ngForm" (ngSubmit)="loginSubmit(lgForm.value)">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <input type="email" #email name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
        <input type="password" #pass name="pass" ngModel class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form>
    <a class="nav-link" routerLink="/Register">Click here to register</a>
</div>
<!-- /card-container -->