<div id="hero">
  <div class="stats">
    <div class="container">
      <div class="stat-box">
        <div class="value">{{user?.accnt_blnce}} BTC</div>
        <div class="label">Your Account balance</div>
      </div>
      <div class="stat-box">
        <div class="value">{{user?.mine_pwr}} GH/s</div>
        <div class="label">Your total mining power</div>
      </div>
      <div class="stat-box">
        <div class="value">10625.93 USD</div>
        <div class="label">BTC market price</div>
      </div>
      <div class="stat-box">
        <div class="value">14 Days</div>
        <div class="label">Server runtime</div>
      </div>
      <div class="stat-box">
        <div class="value">179647</div>
        <div class="label">User accounts</div>
      </div>
    </div>
  </div>
</div>