<div class="text-center">
  <h2>Buy hashpower with bitcoin</h2>
  <br>

  <div style="margin:auto; width: 30rem;" class=" card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Number of deposits:0 BTC</li>
        <li class="list-group-item">Minimum of deposit:0.00100000 BTC</li>
        <li class="list-group-item">Maximum of deposit:25.00000000 BTC</li>
      </ul>
    </div>
  </div>


  <br>
  <br>

  <div class="card">
    <div class="card-body ">
      <h2 class="card-title">Invest bitcoins or use your earnings</h2>
      <p class="card-text">Here you can add Bitcoins to your account or spend your earnings on more hashpower.</p>

      <label for="deposit">Your amount for deposit</label>
      <input id="deposit" type="number" min="0.001" max="25" step="any" data-btc="0.001">
      <span class="setCurrency">BTC</span>
      <span class="sign" style="margin: 0 1em;">=</span>
      <strong class="hashpower">
        <span id="deposit-hashpower">400</span> GH/s</strong>

      <div class="dep-btns">
        <button class="btn btn-dark" type="submit" name="payment_method" value="balance">Pay with account earnings</button>
        <button id="payWithBTC" class="btn btn-success" type="button" style="margin-left: 20px">Send payment with bitcoin</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h2>Deposit History</h2>
</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date & Time</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Payment Method</th>
        <th>Transaction Hash</th>
        <th>Price</th>
        <th>deposit-hashpower</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
