<main>
  <div class="container">
    <h2 style="text-align: center">Here are some of our frequently asked questions.</h2>
    <div class="faq">
      <div class="faq-box">
        <h3>How long does my mining contract last?</h3>
        <p>Your mining contract is lifetime, there are also no hidden fees.</p>
      </div>
      <div class="faq-box">
        <h3>Are there any deposit/withdrawal limits?</h3>
        <p>You can deposit anywhere from 0.001 BTC to 25.000 BTC with us, with a minimum withdrawal limit of 0.0002 BTC.</p>
      </div>
      <div class="faq-box">
        <h3>Is my information safe with you?</h3>
        <p>We do not sell any of your personal information on to third parties unlike others. Your information is 100% safe,
          secure and encrypted with us.</p>
      </div>
      <div class="faq-box">
        <h3>When can I make my first withdrawal?</h3>
        <p>You can make your first withdrawal from us after only 24 hours of your hashpower being activated.</p>
      </div>
      <div class="faq-box">
        <h3>Is my investment safe with you?</h3>
        <p>Your investment is 100% safe with us, with out 256-bit Extended Validation SSL certificate, all transactions are
          enrypted and hidden.</p>
      </div>
      <div class="faq-box">
        <h3>What is SierraHash?</h3>
        <p>SierraHash is a unique Bitcoin mining platform, that aims to take over the Bitcoin mining market with ease.</p>
      </div>
      <div class="faq-box">
        <h3>Where can I get Bitcoin?</h3>
        <p>You can find more information on how to purchase Bitcoin here.
          <a href="https://www.bitcoin.com/buy-bitcoin">https://www.bitcoin.com/buy-bitcoin</a>
        </p>
      </div>
      <div class="faq-box">
        <h3>What do I need to start mining?</h3>
        <p>It's simple to start mining with SierraHash, all you have to do is sign up and deposit. We do the rest.</p>
      </div>
    </div>
  </div>
</main>